<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dados_usuario.css">
    <title>Dados do Usuário/Gestor</title>
</head>
<body>
    <header>
        <h1>Dados do Usuário</h1>
        <nav class="navbar">
            <ul>
                <li><a href="">Pagina 1</a></li>
                <li><a href="">Pagina 2</a></li>
                <li><a href="">Pagina 3</a></li>
                <li><a href="">Pagina 4</a></li>
            </ul>
        </nav>
    <div class="icone">
        <img src="" alt="Icone de perfil">
    </div>
    </header>
    <main>
        <div class="dados-usuario">
           <table>
                 <tr>
                    <td><strong>Nome</strong></td>
                    <td class="campo-dado"></td>
                </tr>
                 <tr>
                    <td><strong>Sobrenome</strong></td>
                    <td class="campo-dado"></td>
                </tr>
                 <tr>
                    <td><strong>Email</strong></td>
                    <td class="campo-dado"></td>
                </tr>
                 <tr>
                    <td><strong>Senha</strong></td>
                    <td class="campo-dado"></td>
                </tr>
           </table>
        </div>
    </main>
    <footer>
      <p>&copy; 2025 Entrada Express. Todos os direitos reservados.</p>
    </footer>
</body>
</html>