<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sistema de Check-in</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/css/eventos.css">
  <link 
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" 
    rel="stylesheet">
</head>
<body>
  <header>
    <h1>Tela de eventos</h1>
    <nav>
      <ul>
       <div>
            <ul>
              <li><a>Pagina 1</a></li>
              <li><a>Pagina 2</a></li>
              <li><a>Pagina 3</a></li>
              <li><a>Pagina 4</a></li>
            </ul>
        </div>
      </ul>
    </nav>
    <div class="icone">
        <img src="" alt="Icone de perfil">
    </div>
  </header>
  <main>
    <section id="eventos">
      <div>
        <h2>Próximos Eventos</h2>
        <div class="events-container">
          <div class="event-card">
            <h3>Conferência Tech 2025</h3>
            <p>07/06/2025</p>
            <p>R$ 70,00</p>
            <button>Mais informações</button>
          </div>
          <div class="event-card">
            <h3>Workshop de Marketing Digital</h3>
            <p>20/07/2025</p>
            <p>R$ 55,00</p>
            <button>Mais informações</button>
          </div>
        </div>
        <div>
          <h2>Inscrições abertas</h2>
          <div class="event-card">
            <h3>Encontro de Startups</h3>
            <p>11/11/2025</p>
            <p>R$ 60,00</p>
            <button>Mais informações</button>
          </div>
          <div class="event-card">
            <h3>Simpósio de Inovação</h3>
            <p>17/11/2025</p>
            <p>R$ 65,00</p>
            <button>Mais informações</button>
          </div>
        </div>
        <div>
          <h2>Eventos encerrados</h2>
          <div class="event-card">
            <h3>Desafios da IA</h3>
            <p>04/12/2025</p>
            <p>R$ 37,00</p>
            <button>Mais informações</button>
          </div>
          </div>
      </div>
    </section>
  </main>
  
  <footer>
    <p>&copy; 2025 Entrada Express. Todos os direitos reservados.</p>
  </footer>
</body>
</html>
